<div ng-controller="AuthController" ng-show='{{!!!currentUser.sessionID}}'>
  <div class="menu">
    <div class="page-title">Time To Learn</div>
    <ul class="nav nav-pills">
      <li role="presentation"><a href="/#/users">User</a></li>
      <li role="presentation"><a href="/#/tests">Tests</a></li>
      <li><a href="" ng-click="logout()" >Log out </a></li>
    </ul>
  </div>
</div>
