<div ng-include="'views/share/header.html'"></div>
<div class="new-user" ng-controller='UserDetailController'>
  <div>{{errorMessage}}</div>
  <form ng-submit="updateUser()">
    <div class="form-group">
      <label for="inputName">Name</label>
      <input type="text" class="form-control" id="inputName" ng-model="user.name">
    </div>
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input type="email" class="form-control" id="inputEmail" ng-model="user.email">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword" ng-model="user.password">
    </div>
    <div class="form-group">
      <label for="inputConfirmPassword">Confirm Password</label>
      <input type="password" class="form-control" id="inputConfirmPassword" ng-model="user.confirm_password">
    </div>

    <div class="form-group">
      <label for="userRole">User Role</label>
      <select id="userRole" class="nya-selectpicker" ng-model="user.role">
        <option ng-repeat="option in roles" value="{{option.value}}">{{option.label}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-default">Update</button>
  </form>
</div>