<div ng-include="'views/share/header.html'"></div>
<div class="user-lists">
  <div class="head-control">
    <a href="#/users/new" class="new-user btn btn-default">+ New User</a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users.data">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <th><div class="btn-group" role="group" aria-label="...">
            <a type="button" href="/#/users/{{user.id}}" class="btn btn-default">detail</a>
            <a type="button" href="/#/users/{{user.id}}/edit" class="btn btn-default">edit</a>
            <a type="button" href="" ng-click="deleteUser(user)" class="btn btn-default">Delete</a>
          </div></th>
      </tr>
    </tbody>
  </table>
</div>