<div ng-include="'views/share/header.html'"></div>
<div class="container">
  <a class="btn btn-default" href="/#/users">Back</a>
  <a class="btn btn-default" href="/#/users/{{user.id}}/edit">Edit</a>
  <a type="button" href="" ng-click="deleteUser(user)" class="btn btn-default">Delete</a>
  <div class="user-detail">
    <div class="">
      <span class="title">Name:</span>
      <span class="name">{{user.name}}</span>
    </div>
    <div class="">
      <span class="title">Email:</span>
      <span class="name">{{user.email}}</span>
    </div>
    <div class="">
      <span class="title">Role:</span>
      <span class="name">{{user.role}}</span>
    </div>
  </div>
</div>