
<div ng-include="'views/share/header.html'"></div>
<div class="new-user" ng-controller='TestDetailController'>
  <button class="new-question btn btn-default" ng-click='addQuestion()'>+ Add Question</button>
  <form ng-submit="updateTest()">
    <div class="form-group">
      <label for="inputname" class="test-label">Name</label>
      <input type="text" class="form-control test-input" id="inputname" ng-model="test.name">
    </div>
    <div class="form-group">
      <label for="inputDescription" class="test-label">Description</label>
      <textarea type="text" class="form-control test-input" id="inputDescription" ng-model="test.description"></textarea>
    </div>
    <div class="question-session">
      <div ng-repeat="question in test.questions">
        <div class="form-group question-new">
          <input type="text" class="form-control quesition-name" ng-model="question.name" placeholder="Give the test name here">
          <div class="delete-icon" ng-click='removeQuestion($index)'><i class="fa fa-trash fa-2x" aria-hidden="true"></i></div>
          <textarea class="form-control quesition-description" placeholder="Enter a description here" ng-model="question.description"></textarea>
          <div ng-repeat="option in question.options">
            <div class="form-group option-new">
              <div class="index">{{$index + 1}}</div>
              <input type="text" class="form-control option-name" ng-model="option.name" placeholder="Give the test name here">
              <div class="answer-option">
                <label><input type="checkbox" ng-model="option.is_answer"> Correct answer</label></div>
              <div class="delete-icon" ng-click='removeOption($parent.$index, $index)'><i class="fa fa-trash fa-2x" aria-hidden="true"></i></div>
            </div>
          </div>
          <button class="new-option btn btn-default" ng-click='addOption($event, $index)'>+ Option</button>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-default">Save</button>
  </form>
</div>