<div ng-include="'views/share/header.html'"></div>
<div class="test-lists" ng-controller='TestController'>
  <div class="head-control"><a href="#/tests/new" class="new-test btn btn-default">+ New Test</a></div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="test in tests.data">
        <td>{{test.name}}</td>
        <td>{{test.description}}</td>
        <th><div class="btn-group" role="group" aria-label="...">
            <a type="button" href="/#/tests/{{test.id}}" class="btn btn-default">Detail</a>
            <a type="button" href="/#/tests/{{test.id}}/edit" class="btn btn-default">Edit</a>
            <a type="button" href="" ng-click="deleteTest(test)" class="btn btn-default">Delete</a>
          </div></th>
      </tr>
    </tbody>
  </table>
</div>