<div ng-include="'views/share/header.html'"></div>
<div class="container" ng-controller="TestDetailController">
  <a type="button" href="/#/tests" class="btn btn-default">Back</a>
  <a class="btn btn-default" href="/#/tests/{{test.id}}/edit">Edit</a>
  <a type="button" href="" ng-click="deleteTest(test)" class="btn btn-default">Delete</a>
  <div class="test-detail">
    <div class="test-name">
      <div class="name">{{test.name}}</div>
      <div class="description">{{test.description}}</div>
    </div>
    <div class="question-session">
      <div ng-repeat="question in test.questions">
        <div class="questions">
          <div class="question-text">
            <span>Question {{$index + 1}}: </span><span class="bold">{{question.name}}</span>
          </div>
          <p>{{question.description}}</p>
          <span>Options:</span>
          <div ng-repeat="option in question.options">
            <div class="options">
              <span>{{$index + 1}}.</span>
              <span ng-class="{'right': option.is_answer == true}">{{option.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

