.options {
  padding-left: 20px;
  .right {
    font-weight: bold;
  }
}
.question-text .bold{
  font-weight: bold;
}
.test-label {
  position: absolute;
  line-height: 32px;
}
.test-input {
  width: 90%;
  margin-left: 10%;
}
.question-new {
  border-top: 2px solid #ccc;
  padding-top: 15px;
  .quesition-name, .quesition-description {
    margin-bottom: 10px;
  }
  .quesition-name {
    width: 95%;
    display: inline-block;
  }
  .delete-icon {
    display: inline-block;
    text-align: center;
    width: 4%;
    cursor: pointer;
  }
}
.option-new {
  .index {
    display: inline-block;
    width: 50px;
    text-align: center;
  }
  .option-name {
    display: inline-block;
    width: 70%;
  }
  .answer-option {
    display: inline-block;
  }
}
.new-question {
  margin-bottom: 20px;
}
.user-detail, .test-detail {
  padding-top: 20px;
  .title {
    padding-right: 10px;
  }
}
.questions {
  padding-top: 10px;
  border-top: 1px solid #ccc;
  padding-bottom: 10px;
}
.test-name {
  padding: 10px 0;
  .name {
    font-weight: 700;
  }
}
.head-control {
  text-align: right;
}