
<div ng-include="'views/share/header.html'"></div>
<div class="header-message">
  <h2>Welcom Time To Learn system</h2>
</div>
<div ng-controller='AuthController' ng-show='showSignIn'>
  <h3>Please login to manage the system</h3>
  <form ng-submit="login()">
    <div class="error-message">{{errorMessage}}</div>
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input type="email" class="form-control" id="inputEmail" ng-model="credentials.email">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword" ng-model="credentials.password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>