<!DOCTYPE html>
<html ng-app="TimeToLearn">
  <head>
    <title>TimeToLearn</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="page main-wrap" ng-view></div>
    </div>
  </body>
</html>
